﻿@{
    ViewBag.Title = "DDS HASHCODE EXAMPLE .NET WEBAPP";
}
@model DigiDoc_backend.Models.IndexModel

<div class="well">
    <h1>@ViewBag.Title</h1>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Scenario 1: start by sending a DigiDoc/BDOC file</div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="Scenario" value="1" />

                    <div class="row">
                        <div class="col-md-12">
                            <input type="file" name="file" class="btn btn-default" />  
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input class="btn btn-success" type="submit" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Scenario 2: start by choosing signed file format and sending a datafile</div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="Scenario" value="2"/>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="file" name="file" class="btn btn-default" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @Html.DropDownListFor(
                                x => x.Format, 
                                new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "BDOC 2.1", Value = "BDOC" }
                                    }, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input class="btn btn-success" type="submit" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>