﻿@model DigiDoc_backend.Models.ShowDocInfoModel
@{
    ViewBag.Title = "Info";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>General container info</h4></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Format</th>
                        <th>Version</th>
                        <th></th>
                    </tr>

                    <tr>
                        <td>@Model.Format</td>
                        <td>@Model.Version</td>
                        <td>
                            <button class="btn btn-success" onclick="ee.sk.hashcode.DownloadContainer();">Save</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Files</h4></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Mime</th>
                        <th>Length</th>
                        <th>
                            <button class="btn btn-default" data-toggle="modal" data-target="#addDatafileModal">Add datafile</button>
                        </th>
                    </tr>

                    @foreach (var file in Model.Files)
                    {
                        <tr>
                            <td>@file.Id</td>
                            <td>@file.Name</td>
                            <td>@file.Mime</td>
                            <td>@file.Length</td>
                            <td>
                                <button class="btn btn-danger" onclick="ee.sk.hashcode.RemoveDataFile(''); ">Remove datafile</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Signatures</h4>
            </div>
            <div class="panel-body">
                <div id="pluginLocation"></div>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Additional status info</th>
                        <th>Time</th>
                        <th>Role</th>
                        <th>Signer</th>
                        <th style="height: 35px; line-height: 35px;">
                            Add signature:
                            <a href="#" onclick="ee.sk.hashcode.IDCardSign();">
                                <img src="~/images/id-kaart-logo.gif" data-toggle="modal"
                                     data-target="#idSignModal" />
                            </a>
                            <a href="#">
                                <img src="~/images/mid-logo.gif" data-toggle="modal"
                                     data-target="#mobileSignModal" />
                            </a>
                        </th>
                    </tr>

                    @foreach (var signer in Model.Signers)
                    {
                        <tr>
                            <td>@signer.Id</td>
                            <td>@signer.Status</td>
                            <td>@signer.AdditionalStatusInfo</td>
                            <td>@signer.Time</td>
                            <td>@signer.Role</td>
                            <td>@signer.Signer</td>
                            <td>
                                <button class="btn btn-danger" onclick="ee.sk.hashcode.removesignature('@signer.Id');">
                                    Remove signature
                                </button>
                            </td>
                        </tr>
                    }
                        
                </table>
            </div>
        </div>
    </div>
</div>